*{
  font-family: 'Noto Sans', sans-serif;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px 0 100px;
}
a{
  text-decoration: none;
}
.btn-primary{

background: #000080;
border-radius: 10px;

/* Entrar */
font-style: normal;
font-weight: bold;
font-size: 20px;
padding: 10px 20px;

color: #FFFFFF;


}

.btn-text-primary{
  font-size: 20px;
  padding: 0px 20px;
  color: black;
}

.text-Secondary{
  font-size: 49px;
  padding-left: 16px;
  
}

.CellPrinc{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.CellPrinc p{
  font-family: 'Roboto', sans-serif;
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;

}
.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 700px;
  height: 600px;
}
.btn-singUp{
  height: 104px;
  width: 345px;
  border-radius: 10px;
  color:#FFFFFF;
  background-color: #000080;
  font-weight: bold;
  font-size: 30px;

}

.imgFundo{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  background-image: url(../../../src/assets/imgFundo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0000ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}


.imgFundo p {
  position: relative;
   
  top: 0px;
  left: 0px;
  
}

.textFundo{
  margin-top: 5%;
  margin-left: 2%;
  font-size: 30px;
  padding-right: 40%;
  color: white;
}

.textFundo_{
  color: white;
  margin-top: 15%;
  font-size: 30px;
  padding-left: 60%;
}

/*-------- Login -----------*/

*{
  font-family: 'Noto Sans', sans-serif;
}

/*------- Logo Center ------ */

.logo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 42%;
}

.Enter1{
  text-align: center;
  margin-top: 16%;
  margin-left: -13%;
}

.info1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 15%;
}

.info2:first-child{
  border-radius: 0.25rem 0 0.25rem;    
}

.info2:last-child{
  border-radius: 0 0.25rem 0.25rem 0;
}

.info1 input{
  margin-top: 2%;
  width: 200px;
  height: 30px;
}
#balance{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 50px;
}
.mainContainer{
  width: 40%;
  text-align: center;
  background-color:white;
  display: flex;
  flex-direction: column;
  column-align: center;
  box-shadow: black;
  margin-left: 27%;
  border: 2px solid black;
  border-radius: 0.25rem;
}
.card input{
  background: white;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;

  border: none;
  outline: none;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  padding: 10px;
  
  background-color: #C4C4C4;
}

.card.texto{
  background: #000080;
  display: flex;
  justify-content: space-between;
}

.card.login{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input:focus{
  background-color:  #ccc;

}
.entrarButton{
  background:#000080;
  color: white;
  border-radius: 12px;
  height: 60px;
  width: 176px;
  margin: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: 46px;
}
.mainContainer a{
  margin-bottom: 20px;
  color: black;
  display: block;
}
.mainContainer h2{
  margin-top: 10px;
  font-weight: bold;
  font-size: 23px;
  line-height: 46px;
  padding-top: 10px;
}


